.container {
    display: flex;
    align-items: center;
    background-color: #d1e8e4;
    flex-direction: column;
}

button {
    background-color: #c37b89;
    color: #fff;
    border: none;
    text-transform: uppercase;
    margin: 20px auto;
}